<h1>Bienvenido a la Pagina de Gestion de Materiales</h1>
<% if user_signed_in? %>
  <p>Usuario Logueado: <%=current_user.nombre %></p>
  <% if current_user.tipo == "Obra" %>
    <p>Tipo: Personal de Obra</p>
  <%else%>
    <p>Tipo: <%=current_user.tipo %></p>
  <%end%>
<%else%>
  <p>Inicie sesion para utilizar el sistema</p>
<%end%>
