<div style="width:80%;margin:0 auto;">
  <h1>Bienvenido a la Pagina de Gestion de Materiales</h1>
  <% if user_signed_in? %>
    <p><strong>Usuario Logueado:</strong> <%=current_user.nombre %></p>
    <% if current_user.tipo == "Obra" %>
      <p><strong>Tipo:</strong> Personal de Obra</p>
    <%elsif current_user.tipo == "Compra" %>
      <p><strong>Tipo:</strong> Encargado de Compra</p>
    <%else%>
      <p><strong>Tipo:</strong> <%=current_user.tipo %></p>
    <%end%>
  <%else%>
    <p>Inicie sesion para utilizar el sistema</p>
  <%end%>
</div>
