<div style="width:80%;margin:0 auto;">
<h1>Solicitudes de materiales</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>Estado</th>
    <th>Fecha Requerida</th>
    <th></th>
  </tr>

  <% @solicitudes.each do |solicitudes| %>
    <tr>
      <td><%= solicitudes.titulo %></td>
      <td><%= solicitudes.estado %></td>
      <td><%= solicitudes.f_requerida %></td>
      <td><%= link_to 'Ver', solicitude_path(solicitudes), class: "btn" %></td>
    </tr>
  <% end %>
</table>
</div>
